@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');

body{
    background-color: bisque;
    padding: 0;
    margin: 0;
}

.nome{
    font-family: "Satisfy", cursive;
    font-weight: 400;
    color: chocolate;
    font-size: 45px;
    white-space: nowrap; 
    display: inline-block;
    
}

.titulo{
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: rgb(138, 34, 34);
    text-align: center;
}

.logo{
    max-width: 200px;
}

.menu-principal{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 10px 20px;
    width: 95%;
}

.menu-links{
    display: flex;
    list-style: none;
    color: #e2432ed6;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    width: 95%;

}

.menu-links li{
    margin-left: 20px;
}

.menu-links a {
    text-decoration: none;
    color: inherit; 
}

.menu-links a:hover {
    color: #644629fd; 
} 

.titulo-texto{
    color: brown;
}

.conteudo-texto{
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
}

.topicos, .segunda-fileira {
        display: flex;
        margin: 20px;
        padding: 20px 30px;
        justify-content: space-between;
        align-items: flex-start;
        gap: 40px;
        text-align: justify;
        flex-wrap: wrap; 
        margin: 20px auto;
        padding: 20px 30px;
        width: 80%; 
 } 

.topicos p {
    text-align: justify; 
    max-width: 700px; 
    
}

.texto{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    gap: 40px;
}

.texto-div{
    text-align: justify;
    max-width: 48%;
    flex: 1;
    line-height: 1.6;
    color: chocolate;
}

.topicos h3{
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgb(128, 51, 0);
}

.topicos p {
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
}

.texto-minhavisao, .segunda-fileira{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    margin: 0 auto;
}

.foto-lado-a-lado {
    display: flex;
    justify-content: center;        
    align-items: center;           
    gap: 30px;                      
    flex-wrap: wrap;                
    margin: 40px auto;              
    max-width: 90%;         
   
}

.imagem1 {
    width: 400px; 
    height: auto;
}

.imagem2 {
    width: 150px;
    height: auto;
}

.imagem3{
    width: 300px;
    height: auto;
}

.mapa-mental{
    width: 1000px;
    height: auto;    
    display: block;
    margin: 40px auto; 
}

.texto-inicio{
    text-align: center;
    margin: 0 auto;
    max-width: 65%;
}

.container-objetivo {
    display: flex;
    justify-content: space-between;
    gap: 40px; 
    flex-wrap: wrap; 
    padding: 20px;
}

.objetivo {
    flex: 1;
    min-width: 300px; 
    padding: 20px;
    border: 1px solid #ffd18c;
    border-radius: 10px;
    background-color: #ffd294;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}

main{
    flex: 1;
}

.objetivo h3{
    font-family: "Satisfy", cursive;
    font-weight: 400;
    color: chocolate;
    font-size: 25px;
}
  
.objetivo p, ol{
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    color: rgb(170, 115, 47);
}

.cronograma{
    text-align: center;
}

.cronograma h2{
    font-family: "Titan One", sans-serif;
    font-weight: 400;
     color:  rgb(138, 34, 34);
}

.cronograma h3, p{
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
   color: chocolate;
}


.secao-links, a{
    color: #cf8a23;
    text-decoration: none;
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-size: 22px;
    
}

.conteudo h1{
    font-family: "Londrina Shadow", sans-serif;
    color: rgb(204, 108, 52);
    font-size: 40px
}

.secao-inspo p{
    color: #cf8a23;
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.secao-apoio ul{
    color: #cf8a23;
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-size: 22px;
}

.conteudo {
    display: flex;
    justify-content: space-between; 
    gap: 20px; 
    padding: 20px;
    flex-wrap: wrap; 
}

.conteudo section {
    flex: 1; 
    border: 1px solid #9b6f46;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 5px rgb(184, 112, 64);
    background-color: #fdd3a3;
    min-width: 250px; 
}
